@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #000000;
}
a {
  list-style: none;
  font-size: 24px;
  font-family: "inter";
  line-height: 29.05px;
  color: white;
}

.card {
  max-width: 1024px;
  margin: 0 auto;
}
.box-shadow {
  box-shadow: 15px 10px 30px 0px #00000040;
}
section {
  max-width: 1340px;
  margin: 0 auto;
}
